@page
@model CapacitacionesModel
@{
    ViewData["Title"] = "Avance de capacitaciones";
}

<body>
    <h1 class="color_letras cal-sans-regular">@ViewData["Title"]</h1>
    <div class="d-flex align-items-center">
        <img src="https://previews.123rf.com/images/spaxia/spaxia1206/spaxia120600038/14011204-sonrisa-hombre-trabajador-de-la-construcci%C3%B3n-aislada-en-blanco.jpg" alt="Foto de Trabajador" class="rounded-circle me-3" width="150" height="150">
        <figure class="mb-0">
            <blockquote class="blockquote">
                <p class="fs-2 cal-sans-regular">@Model.Usuario.Nombre  @Model.Usuario.ApellidoP</p>
            </blockquote>
            <figcaption class="blockquote-footer fs-3">
                Líder de Tienda
            </figcaption>
        </figure>
    </div>
    <br />

    @foreach (var progreso in Model.Progresos)
    {
        var estrellas = Model.ObtenerEstadoEstrellas(progreso.Estrellas);
        <div class="mb-4">
            <h4 class="fw-bold">Minijuego @progreso.IdNivel</h4>
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="progress barra flew-grow-1 me-3">
                    <div class="progress-bar bg-warining text-dark barra-cap" style="width:@Model.ObtenerPorcentajeBarra(progreso.Estrellas)">
                        @progreso.Estrellas / 3
                    </div>
                </div>
                <div class="mt-2 estrella-cap">
                    @foreach (var estrella in estrellas)
                    {
                        if (estrella)
                        {
                            <img src="~/imagenes/Estrella.jpeg" alt="Estrella" class="img-fluid mx-2 estrella">
                        }
                        else
                        {
                            <img src="~/imagenes/EstrellaVacia.jpg" alt="Estrella" class="img-fluid mx-2 estrella">
                        }
                    }
                </div>
            </div>
        </div>
    }
</body>