@page
@model EmpleadosModel
@{
    ViewData["Title"] = "Gestión de Empleados";
}

<body class="container-fluid px-5">
    <h1 class="color_letras cal-sans-regular">@ViewData["Title"]</h1><br>

    <div class="row text-center"> 
    <div class="col-md-3 color_letras cal-sans-regular fs-3"></div>
    <div class="col-md-3 color_letras cal-sans-regular fs-3">Horario</div>
    <div class="col-md-3 color_letras cal-sans-regular fs-3">Estatus</div>
    <div class="col-md-3 color_letras cal-sans-regular fs-3">Editar</div>
    </div>

    <div class="row align-items-center justify-content-between mb-4 py-4">
        <!-- Foto y nombre del líder -->
        <div class="col-md-3 d-flex align-items-center">
            <img src="https://previews.123rf.com/images/spaxia/spaxia1206/spaxia120600038/14011204-sonrisa-hombre-trabajador-de-la-construcci%C3%B3n-aislada-en-blanco.jpg"
                 alt="Foto de Trabajador" class="rounded-circle me-3" width="150" height="150">
            <div>
                <h3 class="fs-2 cal-sans-regular">@Model.Lider.Nombre @Model.Lider.ApellidoP</h3>
                <p class="fs-3 text-muted">@Model.Lider.Puesto</p>
            </div>
        </div>
        <!-- Horario -->
        <div class="col-md-3 text-md-center fs-4">
            @Model.Lider.horarioInicio.ToString(@"hh\:mm") - @Model.Lider.horarioFin.ToString(@"hh\:mm")
        </div>
        <!-- Estatus -->
        <div class="col-md-3 d-flex align-items-center justify-content-center">
            <div class="rounded-circle @Model.Lider.ColorEstatus" style="width: 40px; height: 40px;"></div>
        </div>
        <!-- Ícono -->
        <div class="col-md-3 text-center">
            <i class="fa-solid fa-pencil fs-3"></i>
        </div>
    </div>

    @foreach (var empleado in Model.ListaEmpleados)
    {
        <div class="row align-items-center justify-content-between mb-4 py-4">
            <!-- Foto y nombre -->
            <div class="col-md-3 d-flex align-items-center">
                <img src="https://previews.123rf.com/images/spaxia/spaxia1206/spaxia120600038/14011204-sonrisa-hombre-trabajador-de-la-construcci%C3%B3n-aislada-en-blanco.jpg"
                     alt="Foto de Trabajador" class="rounded-circle me-3" width="150" height="150">
                <div>
                    <h3 class="fs-2 cal-sans-regular">@empleado.Nombre @empleado.ApellidoP</h3>
                    <p class="fs-3 text-muted">@empleado.Puesto</p>
                </div>
            </div>
            <!-- Horario -->
            <div class="col-md-3 text-md-center fs-4">
                @empleado.horarioInicio.ToString(@"hh\:mm") - @empleado.horarioFin.ToString(@"hh\:mm")
            </div>
            <!-- Estatus -->
            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <div class="rounded-circle @empleado.ColorEstatus" style="width: 40px; height: 40px;"></div>
            </div>
            <!-- Ícono -->
            <div class="col-md-3 text-center">
                <i class="fa-solid fa-pencil fs-3"></i>
            </div>
        </div>
    }
</body>


<style>

</style>