@page
@model InicioModel
@{
    ViewData["Title"] = "Tus Estadísticas";
}
<body class="container-fluid px-5">
    <h1 class="color_letras cal-sans-regular">@ViewData["Title"]</h1><br>

    <div class="col-md-5 d-flex align-items-center">
        <img src="@Model.Usuario.fotoPerfil" alt="Foto de Trabajador" class="rounded-circle me-3 img-perfil" width="150" height="150">
        <div>
            <h3 class="fs-2 cal-sans-regular">@Model.Usuario.Nombre @Model.Usuario.ApellidoP</h3>
            <p class="fs-3 text-muted">@Model.Usuario.Puesto</p>
        </div>
    </div>
    <br />

    <h3>Estadísticas</h3>

    <div class="container-fluid ">
        <div class="row align-items-start">
            <div class="col-12 col-md-5 text-center">
                <iframe width="500" height="450" src="https://lookerstudio.google.com/embed/reporting/1a1e02b5-9f99-4204-951b-8bdfee94ab61/page/7vRMF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>

            <div class="col-12 col-md-7 text-center">
                <iframe width="400" height="300"
                        src="@($"https://lookerstudio.google.com/embed/u/0/reporting/3358cb0f-a840-48cf-bc55-126008de9ad5/page/ekSMF?params=%7B%22empleado_param%22%3A{Model.EmpleadoId}%7D")"
                        frameborder="0"
                        style="border:0"
                        allowfullscreen
                        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
                </iframe>
                <div class="row align-items-center g-2">
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                        <i class="fa-solid fa-star text-warning fa-4x me-2"></i>
                        <span class="fs-3">x @Model.TotalEstrellas</span>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-coins text-warning fa-4x me-2"></i>
                        <span class="fs-3">x @Model.EstadisticasUsuario.Monedas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
