@page
@model PersonajeModel
@{
    ViewData["Title"] = "Personalización y Canje";
}

<body>
    <div>
        <button class="botonayuda" title="Para saber más de Oxxo clickea aquí" onclick="window.open('https://www.oxxo.com/','_blank')"><i class="fa-solid fa-question"></i></button>
    </div>
    <div class="layout-principal">
    <div class="columna-izquierda">
        <h1 class="color_letras cal-sans-regular">@ViewData["Title"]</h1><br>
        <div class="d-flex contenedor2">
            <img src="@Model.Lider.fotoPerfil" alt="Foto de Trabajador" class="rounded-circle me-3" width="150" height="150">
            <div>
                <h3 class="fs-2 cal-sans-regular">@Model.Lider.Nombre @Model.Lider.ApellidoP</h3>
                <p class="fs-3 text-muted">@Model.Lider.Puesto</p>
            </div>
            </figure>
        </div>
        <br>
        <br>
        <h3>Elegir Personaje</h3>
        <div class="contenedor">
          <form method="post" asp-page-handler="EquiparPersonaje" class="elemento">
              <input type="hidden" name="personaje" value="JEFE" />
              <button type="submit" class=" @(Model.PersonajeSeleccionado == "JEFE" ? "seleccionado" : "")">
                  <div style="display: flex; flex-direction: column; align-items: center;">
                      <img src="imagenes/Personaje3PW.png" alt="">
                      <p style="font-size:25px; color: #000000;">JEFE</p>
                  </div>
              </button>
          </form>
          <form method="post" asp-page-handler="EquiparPersonaje" class="elemento">
              <input type="hidden" name="personaje" value="ALEX" />
              <button type="submit" class="@(Model.PersonajeSeleccionado == "ALEX" ? "seleccionado" : "")">
                  <div style="display: flex; flex-direction: column; align-items: center;">
                      <img src="imagenes/Personaje2PW.png" alt="">
                      <p style="font-size:25px; color: #000000;">ALEX</p>
                  </div>
              </button>
          </form>
          <form method="post" asp-page-handler="EquiparPersonaje" class=" elemento">
              <input type="hidden" name="personaje" value="ADAM" />
              <button type="submit" class="@(Model.PersonajeSeleccionado == "ADAM" ? "seleccionado" : "")">
                  <div style="display: flex; flex-direction: column; align-items: center;">
                      <img src="imagenes/Personaje4PW.png" alt="">
                      <p style="font-size:25px; color: #000000;">ADAM</p>
                  </div>
              </button>
          </form>
          <form method="post" asp-page-handler="EquiparPersonaje" class="elemento">
              <input type="hidden" name="personaje" value="AMELIA" />
              <button type="submit" class="@(Model.PersonajeSeleccionado == "AMELIA" ? "seleccionado" : "")">
                  <div style="display: flex; flex-direction: column; align-items: center;">
                      <img src="imagenes/Personaje1PW.png" alt="">
                      <p style="font-size:25px; color: #000000;">AMELIA</p>
                  </div>
              </button>
          </form>
        </div>
    </div>

    <div class="columna-derecha">
        <div>
        <h3>Elegir Música del Menú</h3>
          <div class="contenedor3">
              <form method="post" asp-page-handler="EquiparTrack" class="elemento">
                  <input type="hidden" name="track" value="TRACK1" />
                  <button type="submit" class="@(Model.TrackSeleccionado == "TRACK1" ? "seleccionado" : "")">
                      <div style="display: flex; flex-direction: column; align-items: center;">
                          <img src="imagenes/Cancion.png" alt="" class="imagenes-musica">
                          <p style="font-size: 20px; color: #000000;">Pista 1</p>
                      </div>
                  </button>
              </form>
                <form method="post" asp-page-handler="EquiparTrack" class="elemento">
                    <input type="hidden" name="track" value="TRACK2" />
                    <button type="submit" class="@(Model.TrackSeleccionado == "TRACK2" ? "seleccionado" : "")">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <img src="imagenes/Cancion.png" alt="" class="imagenes-musica">
                            <p style="font-size: 20px; color: #000000;">Pista 2</p>
                        </div>
                    </button>
                </form>
                <form method="post" asp-page-handler="EquiparTrack" class="elemento">
                    <input type="hidden" name="track" value="TRACK3" />
                    <button type="submit" class="@(Model.TrackSeleccionado == "TRACK3" ? "seleccionado" : "")">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <img src="imagenes/Cancion.png" alt="" class="imagenes-musica">
                            <p style="font-size: 20px; color: #000000;">Pista 3</p>
                        </div>
                    </button>
                </form>
          </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <div>
        <h3>Recompensas</h3>
        <ul>
            <li><a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="CanjeRecompensas">Tiempo Aire</a></li>
            <li><a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="CanjeRecompensas">Puntos Spin</a></li>
            <li><a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="CanjeRecompensas">Cupones</a></li>
        </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="empleadoModal" tabindex="-1" aria-labelledby="empleadoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empleadoModalLabel">¡Cambio éxitoso!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('form[action*="EquiparPersonaje"]').forEach(form => {
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            const modal = new bootstrap.Modal(document.getElementById('empleadoModal'));
            modal.show();
            setTimeout(() => {
                form.submit();
            }, 2000);
        });
    });
    document.querySelectorAll('form[action*="EquiparTrack"]').forEach(form => {
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            const modal = new bootstrap.Modal(document.getElementById('empleadoModal'));
            modal.show();
            setTimeout(() => {
                form.submit();
            }, 2000);
        });
    });
});

</script>

</body>

<style>
    .contenedor {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
      width: 500px;
      height: 500px;
    }

    .elemento {
      align-items: center;
      padding: 10px;
      transition: all 0.3s ease;
      transform: scale(1.02);
    }
    .elemento:hover {
      transform: scale(1.05);
    }

    .contenedor2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      width: 500px;
      height: 200px;
    }


    .layout-principal {
      display: flex;
      gap: 40px;
      padding: 20px;
    }

    .columna-izquierda {
      flex: 1;
    }

    .columna-derecha {
      flex: 1;
      padding: 50px;
    }

    .botonayuda {
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: #f1f1f1;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 20px;
      font-weight: bold;
      color: #333;
      cursor: pointer;
      z-index: 999;
    }

    .botonayuda:hover {
    background-color: #e0e0e0;
    }

    button {
      border: none;
      background: transparent;
      padding: 0;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      cursor: pointer;
    }

  .seleccionado {
    background: #f28c8c;
    border-radius: 12px;
    padding: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }

  .seleccionado:hover {
    background: #f46f6f; /* Un tono más intenso del original */
    transform: scale(1.08);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

    .contenedor3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .columna {
    }
    .imagenes-musica {
      width: 100px;
      height: 100px;
    }
    .links {
      text-decoration: none;
      color: #000000;
      font-size: 25px;
    }
    .links:hover {
      color: #fc0000;
    }
</style>